

.duvidas {
    width: 100%;
    height: 100vh;

    .container {

        width: 90%;
        height: 90%;
        margin: auto;
        display: flex;

        .col-6 {

            background-color: white;
            width: 50%;
            height: 100%;

            h2 {

                text-align: left;
                margin-left: 25vh;
                font-size: 35px;
                margin-top: 2vh;
            }
            h3 {
                font-weight: 200;
                width: 100%;
                text-align: left;
                margin-left: 25vh;
            }
        
            .card-box-tras {
                position: absolute;
                width: 22%;
                height: 45vh;
                margin-left: 17%;
                margin-top: 20vh;
                z-index: 1;
                border-radius: 15px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
    
                    cursor: pointer;
                }
                img:hover {
                    opacity: 1;
                }
            }
            .card-box-tras:hover {
                margin-top: 15vh;
                transition: .7s;
               
            }
            .card-box-meio {
                position: absolute;
                width: 22%;
                height: 45vh;
                margin-left: 7%;
                margin-top: 35vh;
                border-radius: 15px;
                background-color: rgba(27, 29, 29, 0.774);
                z-index: 2;
                box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            }
            .card-box-frente {
                position: absolute;
                width: 22%;
                height: 45vh;
                margin-left: 1%;
                margin-top: 42vh;
                z-index: 3;
                cursor: pointer;
                border-radius: 15px;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                }
            }
            .card-box-frente:hover {
                margin-top: 32vh;
                transition: .7s;
               
            }
            .container {
             
                width: 60%;
                height: 70%;


                .acordion {
                    .ac {
                        width: 100%;
                        margin-left: 7vh;
                        margin-top: 2vh;
                        color: black;
                        text-align: left;
                        line-height: 30px;
                        background-color: rgba(8, 212, 202, 0.87);
                        border-bottom-left-radius: 25px;
                    }
                }
            }
           

        }
    }
}


@media (max-width: 1024px) {


.duvidas {
    height: auto;
    width: 100%;
    background-color: white;


    .container {

        .col-6 {

        

            h2 {
                margin-left: 5vh;
            }
            h3 {
                margin-left: 5vh;
            }
        
            .card-box-tras {
                position: absolute;
                width: 30%;
                height: 45vh;
                margin-left: 17%;
                margin-top: 20vh;
                z-index: 1;
                border-radius: 15px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                img {
                 
                }
            
            }
           
            .card-box-meio {
                position: absolute;
                width: 30%;
                height: 45vh;
                margin-left: 7%;
                margin-top: 35vh;
                border-radius: 15px;
                background-color: rgba(27, 29, 29, 0.774);
                z-index: 2;
                box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            }
            .card-box-frente {
                position: absolute;
                width: 35%;
                height: 45vh;
                margin-left: 1%;
                margin-top: 42vh;
                z-index: 3;
                cursor: pointer;
                border-radius: 15px;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                }
            }
            .card-box-frente:hover {
                margin-top: 32vh;
                transition: .7s;
               
            }
            .container {
             
                width: 60%;
                height: 70%;


                .acordion {
                    .ac {
                        width: 100%;
                        margin-left: 0vh;
                        margin-top: 2vh;
                        color: black;
                        text-align: left;
                        line-height: 30px;
                        background-color: rgba(8, 212, 202, 0.87);
                        border-bottom-left-radius: 25px;
                    }
                }
            }
           

        }
    }
}
    
}
@media (max-width: 768px) {
    .duvidas {
        margin-top: 20vh;
        height: auto;
        background-color: white;

        .container {
            display: inline-block;

            .col-6 {
                width: 90%;

                .container {
                    width: 100%;
    
                }
                h2 {

                    margin-left: 10vh;
                }
                h3 {
                  margin-left: 10vh;
                  width: 100%;
                }

                .card-box-tras, .card-box-meio, .card-box-frente {

                    width: 0px;
                    height: 0px;
                    visibility: hidden;
                    
                }
            }
        }
    }
    
}

@media (max-width: 550px) {

    .duvidas {
        margin-top: 20vh;
        height: auto;
        background-color: white;

        .container {
            display: inline-block;

            .col-6 {
                width: 100%;
                margin-top: 15vh;

                h2 {

                    margin-left: 0vh;
                }
                h3 {
                  margin-left: 0vh;
                }

                .container {
             
                    width: 90%;
                    height: 70%;
                    .acordion {
                        .ac {
                            width: 80%;
                           margin-left: 0vh;
                        }
                    }              
                }

                .card-box-tras, .card-box-meio, .card-box-frente {

                    width: 0px;
                    height: 0px;
                    visibility: hidden;
                    
                }
            }
        }
    }
    
}