

.folder {

    width: 100%;
    height: 40vh;
    margin-top: 10vh;

    .container {
        width: 80%;
        height: 100%;
        margin: auto;
        margin-top: 0vh;
        background-color: #007fe6;
        border-radius: 15px;
        display: flex;

        .col-8 {
            width: 50%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }

            h2 {
                width: 60%;
                text-align: left;
                margin-left: 20%;
                margin-top: 10vh;
                color: white;
                font-size: 30px;
            }
            h3 {
                margin-left: 20%;
                text-align: left;
                width: 70%;
                margin-top: 0vh;
                font-weight: 300;
                color: white;
            }

            .btn-secundary {
                width: 250px;
                height: 5vh;
                border: none;
                color: black;
                border-radius: 5px;
                margin-left: 14vh;
                background-color: #f4f6f7;
                font-weight: 100;
                font-size: 16px;
                cursor: pointer;
                animation: alternate-reverse border-color;
                display: flex;

                a {
                    color: black;
                    text-decoration: none;
                    margin-top: 1.5vh;
                    margin-left: 3vh;
                }
                img {
                    width: 50px;
                    margin-left: 1vh;
                }
            }

            @keyframes border-color {
                100% {
                    border-right: 1px solid red;
                    background-color: black;
                }
                75% {
                    border-left: none;
                    border-bottom: 1px solid red;
                }
                50% {
                    border-bottom: none;
                    border-left: 1px solid red;
                }
                25% {
                    border-left: none;
                    border-top: 1px solid red;
                }
                0% {
                    border-top: none;
                    border-right: 1px solid rgb(0, 0, 0);
                }           
            }
        }


    }
}


@media (max-width: 1440px) {


    .folder {


        .container {
            width: 90%;
            margin-left: 5vh;
            .col-8 {

                .btn-secundary {
                    width: 40%;
                    margin-left: 15vh;
                 }
            }

        }
    }
}
@media (max-width: 1024px) {


    .folder {


        .container {
          
            .col-8 {

                .btn-secundary {
             
                    margin-left: 10vh;
                 }
            }

        }
    }
}
@media (max-width: 768px) {


    .folder {

        width: 100%;

        .container {
            width: 80%;
            margin: auto;
            position: relative;
            display: inline-block;

            .col-8 {
                width: 90%;
                margin: auto;

                .btn-secundary {
                    width: 50%;
                    margin-left: 20%;
                 }
                 h2 {
                    width: 80%;
                    margin-top: 30%;
                    font-size: 1.5em;
                }
            }

            .col-4 {
                img {
                    width: 0px;
                    height: 0px;
                }
            }      
        }
    }
}

@media (max-width: 550px) {


    .folder {

        width: 100%;
        height: auto;

        .container {
            width: 90%;
            height: auto;
            display: inline-block;

            .col-8 {

                img {
                    width: 0;
                }

                h2 {
                 margin-top: 10%;
                }
                h3 {
                   
                }

                .btn-secundary {
                   width: 50%;
                   height: auto;
                   margin: auto;
                   font-size: .8em;
                }
            }
        }
    }
}