

.navbar {

    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.952);
    position: fixed;
    z-index: 997;
    background: #F2F5FA;
    /* Shadow */

    box-shadow: 0px 10px 25px rgba(55, 121, 215, 0.25);

    .container-nav {

        width: 90%;
        height: 90%;
        margin: auto;
        display: flex;


        .col-logo {

            width: 40%;
            height: 100%;

            
            img {
                width: 200px;
                height: 100%;
                margin-left: 100px;
                cursor: pointer;
            }
        }
        .nav {

                width: 40%;
                height: 90%;
                margin-top: 1vh;
                display: flex;
                border-right: 1px solid rgba(0, 0, 0, 0.356) ;

                .col-sm-nav {

                    ul { 
                        display: flex;
                        width: 100%;
                        margin-left: 0%;
                        margin-top: 1vh;
    
                        justify-content: space-between;
                        li {
                            text-align: right;
                            padding: 15px;
                            border-radius: 5px;
                            list-style: none;
                            cursor: pointer;
                        }
                        li:hover {
                            border: none;
                            background-color: rgba(35, 123, 224, 0.479);
                            transition: .4s ease-in-out;
                        }
                    }
                }

                .col-mobile {

                    visibility: hidden;

                    .btn-x {
                        visibility: hidden;
                        width: 0px;
                        height: 0px;

                        img {
                            width: 0px;
                        }
                    }
                }
            }
        }
        .btn-agendar {

            width: 10%;
            height: 100%;
            margin-left: 5vh;

            .btn {
                width: 150px;
                height: 50px;
                cursor: pointer;
                background-color: rgb(30, 111, 216);
                color: white;
                font-weight: bold;
                border: none;
                border-radius: 3px;
                margin-top: 2vh;
                display: flex;

                a {
                    margin-top: 1.7vh;
                    margin-left: 1vh;
                    color: white;
                    text-decoration: none;
                }

                img {
                    width: 25px;
                    margin-left: 1vh;
                    margin-top: 1vh;
                }

            }
          
        }
}
@media (max-width: 1024px) {

    .navbar {

        .container-nav {

            .nav {  
                margin-left: 0vh;

                .col-sm-nav {
                    margin-left: 0%;

                    ul {
                        margin-left: 0vh;
                    }
            }
            .btn-agendar {
                
                .btn {
                    background-color: black;
                    img {
                        width: 10px;
                        margin-left: 2vh;
                        visibility: hidden;
                    }
                }
            }
        }
    
        }}
    
}

@media (max-width: 768px) {

    .navbar {
      
            width: 100%;
        .container-nav {

            

            .col-logo {

                width: 35%;

                img {
                    width: 100%;
                    height: 100%;
                    visibility: visible;
                }
            }
            .nav {
                border: none;
                .col-sm-nav {
                    width: 0px;
                    height: 0px;
                    visibility: hidden;
                }
               

                .col-mobile {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    margin-left: 50%;
                    visibility: visible;
                    

                    .btn-x {
                        position: absolute;
                        margin-left: -15vh;
                        margin-top: 2.5vh;
                        width: 30%;
                        background-color: red;
                        border: none;
                        visibility: hidden;
                        background-color: transparent;
    
                        img {
                            width: 50px;
    
                        }
                    }
                    .menu {
                        background-color: transparent;
                        border: none;
                        z-index: 9999;

                        img {
                            width: 70px;
                            margin-top: 1.5vh;
                            z-index: 9999;
                        }
                    }


                    .col-sm-nav-mobile {
                        visibility:collapse;
                        position: absolute;
                        width: 50vh;
                        height: 100vh;
                        margin-left: -35vh;
                        margin-top: 2vh;
                        background-color: rgba(14, 193, 224, 0.87);

                        ul {
                            li {
                                list-style: none;
                                font-size: 30px;
                                margin-top: 10vh;
                                text-align: left;
                            }
                        }
                    }
                }

               
            }
            .btn-agendar {
                width: 0%;
                height: 0%;
                visibility: hidden;
            }
        }
        
    }
}

@media (max-width: 550px) {


        .navbar {
        
                width: 100%;
            .container-nav {

                .col-logo {

                    width: 40%;

                }
                .nav {
                    width: 60%;

                    margin-left: 0vh;

                    .col-mobile {

                        height: 10vh;
                        width: 20%;
                        margin-left: 25%;
                        .menu {
    
                            img {
                                width: 50px;
                            }
                        }
                    }

                   

                }
                
            }
        }
        
}