
.footer {

    width: 100%;
    height: 200px;
    background-color: white;
    
    .container {
        width: 70%;
        height: 100%;
        margin: auto;
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.514);

        .col-sm {
            width: 25%;
            height: 100%;

            img {
                width:180px;
                margin-top: 8vh;
                cursor: pointer;
            }
            h2 {
                text-align: left;
                margin-left: 3.5vh;
            }
            h3 {
                margin-top: 5vh;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                margin-left: -8vh;
                line-height: 22px;
                /* identical to box height, or 157% */
                /* Tipografia/Título */

                color: rgba(2, 14, 31, 0.85);
            }
            .txt-ft {
                display: flex;
                margin-top: 0vh;
                height: 2.5vh;

                h4 {
                    font-size: 13px;
                    margin-top: 0vh;
                    margin-left: 6vh;
                    color: rgba(0, 0, 0, 0.692);
                }
                h5 {
                    margin-left:1vh;
                    font-weight: 200;
                    margin-top: 0vh;
                }
            }
            li {
                list-style: none;
                margin-top: 1vh;
                text-align: left;
            }
            .redes {
                width: 150px;
                height: 5vh;
                margin-left: 3vh;
                margin-top: 0vh;

                img {
                    width: 30px;
                    margin-left: 2vh;
                    margin-top: 0vh;
                    cursor: pointer;
                }
            }

        }
        
    }
    .copyright {
        background-color: white;
        width: 100%;
        height: 5vh;
        margin: auto;

        .container {
            margin: auto;
            text-align: center;

            h3 {
                width: 100%;
                text-align: center;
                font-size: 15px;
                font-weight: 200;

                b {
                    color: rgba(31, 29, 29, 0.877);
                }

            }
        }
    }
}
