
.time {

    width: 100%;
    height: 95vh;
    margin-top: 30vh;


    h2 {

        text-align: left;
        margin-left: 320px;
        font-size: 35px;
        margin-top: 10vh;
    }
    h3 {
        font-weight: 200;
        width: 30%;
        text-align: left;
        margin-left: 320px;
    }


    .container {
        width: 80%;
        height: 60vh;
        margin: auto;
        margin-top: 10vh;
        padding-top: 50px;
        z-index: 99;

        .box {
            width: 270px;
            height: 470px;
            margin-left: 5vh;
            display: inline-block;
            background-color: rgba(20, 189, 211, 0.432);
            border-radius: 20px;
            cursor: pointer;

            .imagem {
                width: 270px;
                height: 277;
                border-radius: 20px;

                img {
                    width: 230px;
                    margin-left: -115px;
                    margin-top: 2vh;
                    position: absolute;
                    z-index: 9;
                }
            }
            .nome {
                width: 100%;
                height: 170px;
                margin-top: 300px;
                background-color: white;
                position: relative;
                border-radius: 5px;
                display: inline-block;
                z-index: 99999;

                h2 {
                    color: black;
                    margin-top: 1vh;
                    font-size: 20px;
                    margin-left: 2vh;
                }
                h3 {
                    color: black;
                    font-weight: 200;
                    margin-top: 0vh;
                    font-size: 20px;
                    margin-left: 2vh;
                }
            }
        }
        .box:hover {
            background-color: rgb(20, 189, 211);
            transition: .5s ease-in-out;

            img {
                transition: .5s ease-in-out;
                margin-left: -130px;
                z-index: 999;
                margin-top: 0px;
                width: 250px;
            }
        }
    }
}

@media (max-width: 768px) {

    .time {
        height: auto;
        margin-top: 40vh;

        h2 {
            margin-left: 10vh;
        }
        h3 {
            margin-left: 10vh;
            width: 80%;
        }
        
    }
    
}


@media (max-width:550px) {
    .time {
        height: auto;
        .container {
            margin-bottom: 10vh;
    
            .box {
                width: 90%;
                height: 370px;
                margin-left: 5vh;
                display: inline-block;
                background-color: rgba(20, 189, 211, 0.432);
                border-radius: 20px;
                cursor: pointer;

                .imagem {
                    width: 100%;
                    img {
                        position: relative;
                        margin-top: 7vh;
                        width: 150px;
                        margin-left: 0vh;
                    }
                }
                .nome {
                    margin-top: -4%;
                }

                
            
            }
        
        }
    }
}