
:root {
    --container-principal-background-color: #DAE9F2;
    --titulo-span-background-color: #9cdaf1;
    --pane-padding: 5px 42px;
}

.header {

    height: 100vh;
    width: 100%;
    z-index: 10;


    .container {

        background-color: var(--container-principal-background-color);
        display: flex;
        height: 70vh;
        margin-top: 4%;
        position: absolute;
        width: 100%;

        .col-6 {

            color: black;
            height: 100%;
            text-align: left;
            width: 50%;

            .color-text {

                background-color: var(--titulo-span-background-color) ;
                border: 10px;
                padding: 0px;    

            }
            .btns {

                display: flex;
                height: 7%;
                margin: auto;
                margin-left: 15%;
                width: 50%;

                .btn-intro {

                    background: linear-gradient(225deg, #2098E3 0%, #0C63DF 100%);
                    border: none;
                    border-radius: 3px;
                    color: #F2F5FA;
                    cursor: pointer;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1em;
                    height: 100%;
                    line-height: 23px;
                    margin-top: 0vh;
                    margin-left: 0;
                    text-align: center;
                    width: 40%;

                }
                .btn-intro-secundary {

                    background-color: transparent;
                    border: .5px solid rgba(0, 0, 0, 0.233);
                    color: #0C63DF;
                    cursor: pointer;
                    font-weight: bold;
                    font-weight: 600;
                    font-size: 1em;
                    height: 100%;
                    line-height: 23px;
                    margin-left: 2vh;
                    width: 40%;

                }
            }            
            h3 {

                font-style: normal;
                font-weight: 400;
                font-size: 2em;
                line-height: 31px;
                margin-left: 15%;
                margin-top: 20%;

            }
            h2 {

                color: rgba(2, 14, 31, 0.85);
                font-family: 'Inter';
                font-style: normal;
                font-size: 3.2em;
                font-weight: 700;
                line-height: 60px;
                margin-left: 15%;
                margin-top: 0px;

            }
            img {

                border-bottom-left-radius: 60px;
                height: 100%;
                width: 100%;

            }
        }
    }
}


@media (max-width: 1440px) {

    .header {
        .container {
            .col-6 {
                  
                .btns {
                    margin-left: 5%;
                    width: 70%;
                }
                h3 {
                    font-size: 1.2em;
                    margin-left: 5%;
                }
                h2 {
                    font-size: 3.5em;
                    margin-left: 5%;
                }
            }
        }
    }
}
    

@media (max-width: 1024px) {

    .header {
        .container {
            margin-top: 7%;
            .col-6 {
                .btns {
                    margin-left: 5%;
                    width: 100%;
                }
                h3 {
                    font-size: 1.2em;
                    margin-left: 5%;
                }
                h2 {
                    font-size: 3.2em;
                    margin-left: 5%;
                }
            }
        }
    }
}


@media (max-width: 768px) {

    .header {
    
        .container {
           height: 50vh;
            .col-6 {
                .btns {
                    font-size: .7em;
                }
        
                h3 {
                    font-size: 1.2em;
                    margin-left: 5%;
                    margin-top: 25%;
                }
                h2 {
                    font-size: 2em;
                    line-height: 40px;
                    margin-left: 5%;
                    width: 80%;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .header {
        width: 100%;

        .container {
            height: auto;
            width: 100%;
            margin-top: 50px;
            display: inline-block;
            position: relative;
    
            .col-6 {
                width: 100%;
                height: 50%;
                margin-top: 2vh;
                margin: auto;
                position: relative;
                
                h3 {
                    margin-left: 2vh;
                    margin-top: 15vh;
                }
                h2 {
                    margin-left: 2vh;
                }
                 .btns {
                    display: flex;
                    flex-wrap: wrap;
                    width: 70%;
                    height: auto;
                    margin-bottom: 4vh;
                    
                    .btn-intro {
                        width: 70%;
                    }
    
                    .btn-intro-secundary {
                        width: 70%;
                        margin-left: 0vh;
                        margin-top: 2vh;
                    }
                }
            }
        }
    }
}
    
